
<div class="book_view">

    <h1>Your books:</h1>

    <% if !@books.empty? %>
    <h5>click on a title to see details about a particular book.</h5>
    <h5>click on a category to see a list of books in that category</h5>
      <% @books.each do |book| %>
        <%= link_to book.title, user_book_path(current_user.id, book.id) %> | <%= book.author %> | <%= link_to book.category.name, category_path(book.category.id) %><br />
      <% end %><br />
    <% else %>
      <h2>You do not have any books yet</h2>
    <% end %> <br />
    <%= button_to "Add Book", new_user_book_path(current_user), method: :get, class:"btn btn-primary center" %>
</div>
