<h1><%= @book.title %> by <%= @book.author %></h1>
<div class="link-left">
    <%= link_to "Edit Record", edit_book_path(@book) %>
</div>
<div class="link-right">
    <%= link_to "Delete Record", book_path(@book), method: :delete %>
</div>
<% if @book.read? %>
  <p>
    You have marked this book as read.
  </p>
<% else %>
  <p>
    Book is still on your 'to-read' list.  What are you waiting for?
  </p>
<% end %>
